<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        
        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
        
        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <h1>Movie</h1>
    <a href="/movies/add">
        <button>Add Movie</button>
    </a>
    <table>
        <tr>
            <!-- / name, headquarters, nameMovies, released_year, genre, ProductionHouseId -->
          <th>Movie</th>
          <th>Released Year</th>
          <th>Genre</th>
          <th>Production HouseId</th>
          <th>Action</th>
        </tr>
        <% data.forEach(el => { %>
            <tr>
              <th><%= el.nameMovies %></th>
              <th><%= el.released_year %></th>
              <th><%= el.genre %></th>
              <th><%= el.nameProductionsHouse %></th>
              <th>
                <a href="/movies/edit/<%=el.id%>">
                    <button>Edit</button>
                </a>
                <a href="/movies/delete/<%=el.id%>
                ">
                    <button>Delete</button>
                </a>
              </th>
            </tr>
        <% }) %>
      </table>
</body>
</html>